$main_color :#B8B6B1;
.main{
    height:auto;
    width:100%;
    background-color: $main_color;
}
.heading{
    background-color: #DBDFE0;
}
.search{
    padding-left: 2vw;
}
h1{
    color:#9F2B2B;
    font-family:Crimson Text
}
