$main_color :#fefdfa;
.main{
    height:auto;
    width:100%;
    background-color: $main_color;
}
.heading{
    background-color: #9F2B2B;
}
.search{
    padding-left: 2vw;
}
h1{
    color:#ffffff;
    font-family:'Times New Roman', Times, serif;
}
