
img{
    width: 100%;
    height: 100%
}
.imageholder{
    width:fit-content;
    height: 50vh;
}
.work{
    background-color: #6d6d94;

}
.popup{
    background-color: rgb(233, 233, 233);
    color: black;
}
.items{
cursor:pointer;
color: #9F2B2B;
float:left;

}
.items:hover{
    cursor:pointer;
    color: #9f2b2b;
    font-size: 2vw 
}
.show-more-link {
    color: #9F2B2B; /* Maroon text color */
    text-decoration: underline; /* Underlined text */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    font-family:'Times New Roman', Times, serif;

  }
  
  .show-more-link:hover, .show-more-link:focus {
    color: black; /* Black text color on hover/focus */
    text-decoration: underline; /* Ensures underline remains on hover */
  }